.settingsPage

    .settingsTitle

        &_main, &_user, &_projects, &_messages
            display: flex
            align-items: center
            height: 50px
            font-size: 35px
            margin-bottom: 25px
            padding-left: 20px

        &_user, &_projects, &_messages
            margin-top: 40px
    
    .settingsBody
        width: 100%
        display: flex
        align-items: flex-start
        justify-content: flex-start
        flex-wrap: wrap

        .settingsItem
            width: 100%
            min-width: 250px
            display: flex
            align-items: flex-start
            justify-content: center

            #theme, #language, #reset,
                width: 100%
                display: flex
                align-items: center
                justify-content: space-between

            .passwordChangeHeader
                width: 100%
                display: flex
                align-items: center
                justify-content: space-between
                cursor: pointer

            .passwordChange
                overflow: hidden
                will-change: max-height
                transition: max-height 0.4s ease

                &-input
                    margin-bottom: 10px

.chevronIcon
    will-change: transform
    transition: transform .2s ease

@media (max-width: 1920px)
    .settingsPage
        padding: 30px
    .settingsItem
        padding: 10px
        font-size: 23px
        max-width: 80%
    .passwordChange-input
        font-size: 17px

@media (max-width: 500px) 
    .settingsPage
        padding: 10px
    .settingsItem
        padding: 10px
        font-size: 18px
        max-width: 100%
    .passwordChange-input
        font-size: 14px
    



        
