.icon_header
    min-height: 70px

#nav-icon4
    display: flex
    flex-direction: column
    align-items: flex-start
    justify-content: center
    width: 30px
    height: 30px
    position: relative
    cursor: pointer

    & span
        display: block
        position: absolute
        height: 3px
        width: 30px
        background-color: white
        border-radius: 15px
        opacity: 1
        left: 0
        will-change: top, left, opacity, transform
        transition: .15s ease-in-out

    & span:nth-child(1)
        top: 0px
        transform-origin: left center

    & span:nth-child(2)
        top: 11px
        transform-origin: left center

    & span:nth-child(3)
        top: 22px
        transform-origin: left center

    &.open span:nth-child(1)
        transform: rotate(45deg)
        top: 0px
        left: 3px

    &.open span:nth-child(2)
        width: 0%
        opacity: 0

    &.open span:nth-child(3)
        transform: rotate(-45deg)
        top: 21px
        left: 3px

.drawer
    width: 100%
    height: 100vh

    .staticElements
        height: 7vh
        width: 100%
        display: flex
        position: fixed
        z-index: 8000 !important

        .header
            flex-grow: 1
            height: 7vh
            box-shadow: 0 0 7px rgba(0,0,0,0.4)
            
            .headerContent
                display: flex
                align-items: center
                justify-content: space-between
                padding-left: 20px
                padding-right: 20px
                width: 100%
                height: 100%

                .headerTitleContainer
                    display: flex

                .headerUserInfo
                    display: flex
                    max-width: 300px

                    .headerUserName
                        margin-right: 15px
                        display: flex
                        align-items: center
                        font-size: 16px

                    .headerUserPhoto
                        width: 30px
                        height: 30px
                        overflow: hidden
                        border-radius: 50%
                        margin-right: 15px
                        background-color: black

                .drawerButton
                    width: 50px
                    height: 50px
                    display: flex
                    cursor: pointer
                    flex-direction: column
                    align-items: center
                    justify-content: center

                .headerTitle
                    display: flex
                    flex-direction: column
                    align-items: flex-end
                    justify-content: center
                    height: 30px
                    padding-left: 20px
                    font-size: 30px
                    margin-right: 5px

                .headerSubtitle
                    height: 30px
                    font-size: 20px
                    line-height: 21px
                    display: flex
                    flex-direction: column
                    align-items: flex-end
                    justify-content: flex-end

        .sidebar
            background-color: #222
            color: white
            will-change: max-width
            transition: max-width 0.3s ease
            overflow: hidden
            height: 100vh

            .sidebar-item
                display: flex
                cursor: pointer

                &:hover
                    background-color: rgba(51, 51, 51, 0.3)

                &__title
                    height: 50px
                    min-width: 150px
                    padding-right: 15px
                    font-size: 18px
                    display: flex
                    flex-direction: column
                    align-items: flex-start
                    justify-content: center

                &__icon
                    cursor: pointer
                    width: 70px
                    min-width: 70px
                    height: 50px
                    display: flex
                    flex-direction: column
                    align-items: center
                    justify-content: center

                .icon_head
                    height: 70px

    .pageWithHeader
        height: 100vh
        width: 100% 
        padding-left: 70px
        padding-top: 7vh

        .body
            width: 100%
            min-height: 93vh
